	<ion-view view-title="Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 light positive-bg ink"  ng-href="#/aplikasi_e_schedule/dashboard" >
					<i class="icon ion-ios-home" ></i>
					<p>{{ "Dashboard" | translate }}</p>
				</a>
				<a class="col-33 light positive-900-bg ink"  ng-href="#/aplikasi_e_schedule/program" >
					<i class="icon ion-android-favorite" ></i>
					<p>{{ "Program" | translate }}</p>
				</a>
				<a class="col-33 light calm-bg ink"  ng-href="#/aplikasi_e_schedule/menu_2" >
					<i class="icon ion-android-favorite" ></i>
					<p>{{ "Kegiatan" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light calm-900-bg ink"  ng-href="#/aplikasi_e_schedule/help" >
					<i class="icon ion-help-circled" ></i>
					<p>{{ "Gallery" | translate }}</p>
				</a>
				<a class="col-33 light balanced-bg ink"  ng-href="#/aplikasi_e_schedule/faqs" >
					<i class="icon ion-android-chat" ></i>
					<p>{{ "Pengumuman" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
